<ng-container *ngIf="(country | async).name">
	<div *ngIf="!(loadingCurrencies | async) ; else noCurrency">
		<p class="mb-1">
			<b>Coins</b>
		</p>
		<ul>
			<li *ngFor="let currency of (country | async).currencies">
				{{ currency.name }}
				<ul>
					<li>
						code: {{ currency.code }}, symbol: {{ currency.symbol }}, Conversion: 1 USD - {{ currency.convert }} {{ currency.code }}
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<ng-template #noCurrency>
		<i class="fa fa-circle-notch fa-spin fa-2x"></i>
	</ng-template>
</ng-container>
