<div>
	<div id="top">
		<particles [params]="particlesParams" [style]="particlesStyle"></particles>
		<h1 class="text-center text-white pt-5 pb-5"><b>Country explorer </b><i class="fas fa-map-marker-alt"></i></h1>
	</div>
	<div class="container">
		<div class="row bg-white pt-3 h-100 shadow">
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
				<select-country-component></select-country-component>
				<leaflet-map-component></leaflet-map-component>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
				<description-component></description-component>
			</div>
		</div>
	</div>
</div>
