<ng-container *ngIf="(country | async).name">
	<p class="mb-1">
		<b>Capital:</b>
	</p>
	<p>
		{{ (country | async).capital }}
	</p>

	<p class="mb-1">
		<b>Region:</b>
	</p>
	<p>
		{{ (country | async).region }}
	</p>

	<p class="mb-1">
		<b>Domains</b>
	</p>
	<ul>
		<li *ngFor="let domain of (country | async).topLevelDomain">
			{{ domain }}
		</li>
	</ul>
</ng-container>
