<ng-container *ngIf="(country | async).name">
	<ng-container *ngIf="!(loadingWeather | async) ; else noWeather">
		<p>
			{{ (weather | async).weather[0].description | titlecase }}
		</p>

		<p class="mb-1">
			<b>Wind</b>
		</p>
		<p>
			Deg: {{ (weather | async).wind.deg }}, Speed: {{ (weather | async).wind.speed }}
		</p>

		<p class="mb-1">
			<b>Temperature:</b> {{ (weather | async).main.temp }}°C
		</p>

		<p class="mb-1">
			<b>Humidity:</b> {{ (weather | async).main.humidity }}%
		</p>

		<p class="mb-1">
			<b>Sea level:</b> {{ (weather | async).main.sea_level }}
		</p>
	</ng-container>
	<ng-template #noWeather>
		<i class="fa fa-circle-notch fa-spin fa-2x"></i>
	</ng-template>
</ng-container>
