<ng-container *ngIf="(country | async).name">
	<ng-container *ngIf="!(loadingNews | async) ; else noNews">
		<div *ngFor="let article of news | async" class="mb-3">
			<span>{{ article.title }} </span><br>
			<small>{{ article.source.name | lowercase }}</small>
		</div>
	</ng-container>
	<ng-template #noNews>
		<i class="fa fa-circle-notch fa-spin fa-2x"></i>
	</ng-template>
</ng-container>
