<div class="row">
	<div class="col">
		<h1 class="mb-4">
			<ng-container *ngIf="(country | async).name; else noCountry">
				{{ (country | async).name}}
			</ng-container>
			<ng-template #noCountry>
				Select a country
			</ng-template>
		</h1>
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" routerLink="/description" routerLinkActive="active">Description</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/news" routerLinkActive="active">News</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/currency" routerLinkActive="active">Currency</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/weather" routerLinkActive="active">Weather</a>
			</li>
		</ul>
		<div class="p-3">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
